<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.blog.dao.BlogDao">

	<resultMap type="com.java.blog.entity.Blog" id="BlogResult">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="summary" column="summary" />
		<result property="releaseDate" column="releaseDate" />
		<result property="clickHit" column="clickHit" />
		<result property="replyHit" column="replyHit" />
		<result property="content" column="content" />
		<result property="keyWord" column="keyWord" />
		<association property="blogType" column="typeId"
			select="com.java.blog.dao.BlogTypeDao.findById"></association>
	</resultMap>

	<select id="list" parameterType="Map" resultType="Blog">
		select * from t_blog
		<where>
			<if test="title!=null and title!='' ">
				and title like #{title}
			</if>
			<if test="typeId!=null and typeId!='' ">
				and typeId = #{typeId}
			</if>
			<if test="releaseDateStr!=null and releaseDateStr!='' ">
				and DATE_FORMAT(releaseDate,'%Y年%m月') = #{releaseDateStr}
			</if>
		</where>
		order by releaseDate desc
	</select>

	<select id="findById" parameterType="Integer" resultMap="BlogResult">
		select *
		from t_blog where id=#{id}
	</select>

	<update id="update" parameterType="Blog">
		update t_blog
		<set>
			<if test="title!=null and title!='' ">
				title=#{title},
			</if>
			<if test="summary!=null and summary!='' ">
				summary=#{summary},
			</if>
			<if test="content!=null and content!='' ">
				content=#{content},
			</if>
			<if test="blogType.id!=null ">
				typeId=#{blogType.id},
			</if>
			<if test="clickHit!=null ">
				clickHit=#{clickHit},
			</if>
			<if test="replyHit!=null ">
				replyHit=#{replyHit},
			</if>
			<if test="keyWord!=null and keyWord!='' ">
				keyWord=#{keyWord},
			</if>
		</set>
		where id=#{id}
	</update>

</mapper> 